{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bravo !</h1>
            <p class="col-md-8 fs-4">Ton projet Symfony avec Bootstrap et un menu dynamique fonctionne.</p>
        </div>
    </div>
{% endblock %}